.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --brand-color: #2196f3;
  --btn-hover: #188ce8;
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #ffffff;
  --background: #2f303a;
  --foot-color: rgba(255, 255, 255, 0.6);
  --portfolio-bcg-color: #f5f4fa;
  --icon-social-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --overflow-color: rgba(33, 150, 243, 0.9);
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  padding: 0;
}

.list {
  list-style: none;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.hero__btn {
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  color: var(--accent-color);
  padding: 10px 32px;
  transition: background-color var(--timing-duration) var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-hover);
}

.subscribe__btn {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  padding: 10px 28px;
  transition: background-color var(--timing-duration) var(--timing-function);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--btn-hover);
}

.subscribe__btn-icon {
  fill: currentColor;
  margin-left: 10px;
}

.filters__btn {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--portfolio-bcg-color);
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color var(--timing-duration) var(--timing-function), color var(--timing-duration) var(--timing-function), box-shadow var(--timing-duration) var(--timing-function);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--brand-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  background-color: var(--brand-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  padding: 0;
}

.logo-header {
  color: var(--main-color);
}

.logo-footer {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity var(--timing-duration) var(--timing-function), visibility var(--timing-duration) var(--timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Modal window */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-duration) var(--timing-function);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* Button close modal */
.btn-close-wrap {
  position: absolute;
  right: 8px;
  top: 8px;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color var(--timing-duration) var(--timing-function);
}
.btn-close:hover, .btn-close:focus {
  color: var(--btn-hover);
}

/* Modal Form */
.modal-icon-close {
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.modal-form {
  width: 448px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--second-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  background-color: transparent;
  transition: border var(--timing-duration) var(--timing-function);
}
.modal-input:focus {
  border: 1px solid var(--overflow-color);
  outline: transparent;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill var(--timing-duration) var(--timing-function);
}
.modal-input:focus ~ .modal-icon {
  fill: var(--overflow-color);
}

.modal-field-text {
  margin-bottom: 20px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal-text:focus {
  border: 1px solid var(--overflow-color);
  outline: transparent;
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field-check {
  margin-bottom: 30px;
}

/* Checkbox */
.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--timing-duration) var(--timing-function);
  transition: border-color var(--timing-duration) var(--timing-function);
}
.modal-check:checked + .check-text span {
  background-color: var(--brand-color);
  border: none;
}
.modal-check:focus + .check-text span {
  border-color: var(--main-color);
}

.check-icon {
  fill: transparent;
  transition: fill var(--timing-duration) var(--timing-function);
}
.modal-check:checked + .check-text .check-icon {
  fill: var(--accent-color);
}

.policy-agreement {
  color: var(--overflow-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Button modal submit */
.btn-modal {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  padding: 10px 52px;
  border: none;
  transition: background-color var(--timing-duration) var(--timing-function);
}
.btn-modal:hover, .btn-modal:focus {
  background-color: var(--btn-hover);
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.socnet {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socnet__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-social-color);
  transition: background-color var(--timing-duration) var(--timing-function), color var(--timing-duration) var(--timing-function);
}
.socnet__link:hover {
  background-color: var(--brand-color);
  color: var(--accent-color);
}

.socnet__icon {
  fill: currentColor;
}

.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--accent-color);
  transition: background-color var(--timing-duration) var(--timing-function);
}
.footer-soc-link:focus {
  background-color: var(--brand-color);
}

.work__title,
.our-team__title,
.clients-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;
  color: var(--icon-social-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--timing-duration) var(--timing-function), border var(--timing-duration) var(--timing-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.clients-list__icon {
  fill: currentColor;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list__icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--portfolio-bcg-color);
  border-radius: 4px;
}

.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--background);
}

/* Address */
.address {
  font-style: normal;
}

.contacts {
  margin-top: 20px;
}
.contacts .contacts__item {
  margin-bottom: 10px;
}
.contacts .contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__post-address {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding: 0;
}
.contacts__post-address:hover, .contacts__post-address:focus {
  color: var(--brand-color);
}

.contacts__link {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--foot-color);
  padding: 0;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--brand-color);
}

.footer-soc-title,
.subscribe__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer-soc-wrap {
  margin-top: 12px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

/* Social contacts */
/* Subscribe */
.subscribe {
  margin-top: 12px;
}

.subscribe__form {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.subscribe__email {
  width: 358px;
  height: 50px;
  border: 1px solid var(--foot-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.subscribe__email::placeholder {
  color: var(--foot-color);
}
.subscribe__email:focus {
  outline: none;
  border: 1px solid var(--overflow-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  margin-left: 95px;
  display: flex;
  gap: 50px;
}
.nav__list .nav__item:last-child {
  margin-right: 0;
}

.contact-nav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact-nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: color var(--timing-duration) var(--timing-function);
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--brand-color);
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: inline-block;
  padding: 32px 0;
  transition: color var(--timing-duration) var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
  left: 0;
  bottom: -1px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-section-Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 0;
}

.hero__title {
  margin-bottom: 35px;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

.our-team {
  background-color: var(--portfolio-bcg-color);
}

.our-team__title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__wrap {
  padding: 30px 32px;
}

.team-list__title {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 16px;
}

.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-list__thumb {
  position: relative;
}

.work-list__subtitle {
  position: absolute;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
  gap: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.projects__link {
  display: block;
  padding: 0;
  transition: box-shadow var(--timing-duration) var(--timing-function);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card__text {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--accent-color);
  background-color: var(--overflow-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--timing-duration) var(--timing-function);
}
.projects__item:hover .project-card__text {
  transform: translateY(0%);
}

.description-wrap {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
.description-wrap .description-wrap__title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}
.description-wrap .description-wrap__type {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--second-color);
}/*# sourceMappingURL=main.css.map */