// Button for Hero section

.hero__btn {
  @include font(16px, 1.9, 700, 0.06em);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  color: var(--accent-color);
  padding: 10px 24px;
  transition: background-color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--btn-hover);
  }
}

// Button for footer form

.subscribe__btn {
  @include font(16px, 1.875, 700, 0.06em);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--btn-hover);
  }
}

.subscribe__btn-icon {
  fill: currentColor;
  margin-left: 10px;
}

// Button for Portfolio section
.filters__btn {
  @include font(16px, 1.6, 500, 0.03em);
  color: var(--main-color);
  background-color: var(--portfolio-bcg-color);
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color var(--timing-duration) var(--timing-function),
    color var(--timing-duration) var(--timing-function), box-shadow var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--brand-color);
    color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current-btn {
  background-color: var(--brand-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
