// Social networks for section Our Team

.socnet {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socnet__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-social-color);
  transition: background-color var(--timing-duration) var(--timing-function),
    color var(--timing-duration) var(--timing-function);
  &:hover {
    background-color: var(--brand-color);
    color: var(--accent-color);
  }
}

.socnet__icon {
  fill: currentColor;
}

// Social network for footer

.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--accent-color);
  transition: background-color var(--timing-duration) var(--timing-function);
  &:focus {
    background-color: var(--brand-color);
  }
}
