body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  padding: 0;
}

.list {
  list-style: none;
}
