:root {
  --brand-color: #2196f3;
  --btn-hover: #188ce8;
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #ffffff;
  --background: #2f303a;
  --foot-color: rgba(255, 255, 255, 0.6);
  --portfolio-bcg-color: #f5f4fa;
  --icon-social-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --overflow-color: rgba(33, 150, 243, 0.9);
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
