.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  height: 60px;
  width: 100%;
  background-color: var(--accent-color);
  @include tablet {
    height: 80px;
  }
}

.header__logo {
  margin-right: auto;
  margin-top: 15px;
  @include tablet {
    margin-top: 26px;
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
  }
}
.menu-toggle {
  margin-top: 10px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--brand-color);
  }
  @include tablet {
    display: none;
  }
}

.nav-container {
  display: flex;
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.nav {
  display: none;
  @include tablet {
    display: flex;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
  .nav__item:last-child {
    margin-right: 0;
  }
}
.header-connect {
  display: none;
  @include tablet {
    display: flex;
    margin-left: auto;
  }
}

.contact {
  @include tablet {
    padding: 21px 0;
  }
  @include desktop {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}
.contact__item:not(:last-child) {
  @include tablet {
    margin-bottom: 10px;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.contact__link {
  @include font(14px, 1.14, 500, 0.02em);
  color: var(--second-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }

  @include tablet {
    @include font(12px, 1.14, 500, 0.02em);
    padding: 0;
  }
  @include desktop {
    @include font(14px, 1.14, 500, 0.02em);
    padding: 10px 0;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  @include tablet {
    margin-right: 8px;
  }
}

.icon-mail {
  @include tablet {
    width: 14px;
    height: 10px;
  }
  @include desktop {
    width: 16px;
    height: 12px;
  }
}
.icon-phone {
  @include tablet {
    width: 8px;
    height: 14px;
  }
  @include desktop {
    width: 10px;
    height: 16px;
  }
}

.nav__link {
  @include font(14px, 1.14, 500, 0.02em);
  color: var(--main-color);
  display: inline-block;
  padding: 32px 0;
  transition: color var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.current {
  color: var(--brand-color);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
    left: 0;
    bottom: -1px;
  }
}

.social {
  @include tablet {
    display: none;
  }
}
