.our-team {
  background-color: var(--portfolio-bcg-color);
}

.our-team__title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }
}
.team-list__wrap {
  padding: 30px 32px;
}

.team-list__title {
  @include font(16px, 1.19, 500, 0.03em);
  text-align: center;
  margin-bottom: 10px;
}
.team-list__text {
  @include font(16px, 1.19, 400, 0.03em);
  text-align: center;
  color: var(--second-color);
  margin-bottom: 16px;
}
