.filters {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  gap: 8px;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.projects__item {
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.projects__link {
  display: block;
  padding: 0;
  transition: box-shadow var(--timing-duration) var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card__text {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  @include font(18px, 2, 400, 0.03em);
  padding: 63px 24px;
  color: var(--accent-color);
  background-color: var(--overflow-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--timing-duration) var(--timing-function);
  .projects__item:hover & {
    transform: translateY(0%);
  }
}

.description-wrap {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
  .description-wrap__title {
    @include font(18px, 2, 700, 0.06em);
    margin-bottom: 4px;
    color: var(--main-color);
  }
  .description-wrap__type {
    @include font(16px, 1.87, 400, 0.03em);
    color: var(--second-color);
  }
}
